<div class="row">
    <div class="col md">
        {{#each dbArt}}
        <div class="card mb-2 mr-2 ml-2">
            <div class="card-header">
                <h3 style="width: 80%;"><a class="article-link" target="_blank" rel="noopener noreferrer" href="{{link}}">{{title}}</a>
                    <a class="btn btn-success save" data-id="{{_id}}">Save Article</a></h3>
            </div>
            <div class="card-body">Need to add card summary</div>
        </div>
        {{/each}}
    </div>
</div>
